html {
    overflow-x:hidden;
    overflow-y:hidden;
}

body {
    background-image:url(imgs/bg.jpg);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
    background-position-y:center;
}

.heading, h2 {
    color:white;
}

.heading {
    font-size:60px;
    font-family: "Permanent Marker", cursive;
  font-weight: 800;
  font-style: italic;
}
h2 {
    font-size:40px;
    font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: italic;
}

.btn {
    font-size:18px;
    font-weight:bold;
    font-family: "Permanent Marker", cursive;
  font-style: italic;
}

.btn:hover {
    background-color:red;
    border:2px solid white;
}